*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.main-image{
    background: url(https://static.vecteezy.com/system/resources/previews/006/066/678/large_2x/dark-path-in-the-forest-green-landscape-forest-background-free-photo.jpg);
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;;
}

.main-image h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.main-image h1 .strike{
    text-decoration: line-through;
}

.main-image p{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.main-image .btn{
    background: none;
    color: white;
    border: 2px solid white;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}